[submodule "Source/parallel-hashmap"]
	path = Source/parallel-hashmap
	url = https://github.com/greg7mdp/parallel-hashmap.git
[submodule "SFloat/berkeley-softfloat-3"]
	path = SFloat/berkeley-softfloat-3
	url = https://github.com/ucb-bar/berkeley-softfloat-3.git
