/Source/CORBA/
/Source/Nirvana/
/Exports/IDL/
/Source/IDL/
/dbc/NDBC_p.cpp
/InterfaceRepository/InterfaceRepository_p.cpp
/PacMan/factory_p.cpp
/PacMan/factory_s.h
/PacMan/factory.cpp
/PacMan/factory.h
