/Source/CORBA/
/Source/Nirvana/
/Exports/IDL/
/Source/IDL/
/dbc/NDBC_p.cpp
/InterfaceRepository/InterfaceRepository_p.cpp
/PacMan/internal_p.cpp
/PacMan/internal_s.h
/PacMan/internal.cpp
/PacMan/internal.h
